# Nom du conteneur
NETWORKMONITOR_CONTAINER_NAME=networkmonitor

# Politique de redémarrage Docker
NETWORKMONITOR_RESTART_POLICY=unless-stopped

# Contexte de build et Dockerfile
NETWORKMONITOR_BUILD_CONTEXT=.
NETWORKMONITOR_DOCKERFILE=NetworkMonitor/Dockerfile

# Fichier YAML monté dans le conteneur
NETWORKMONITOR_YAML_SOURCE=./config.yaml
NETWORKMONITOR_CONFIG_PATH=/config/config.yaml
NETWORKMONITOR_YAML_MOUNT_MODE=rw

# Port HTTP exposé pour le tableau de bord web
NETWORKMONITOR_HTTP_PORT=8080

# Authentification HTTP Basic du dashboard
NETWORKMONITOR_DASHBOARD_AUTH_ENABLED=false
NETWORKMONITOR_DASHBOARD_AUTH_USERNAME=admin
NETWORKMONITOR_DASHBOARD_AUTH_PASSWORD=change-me

# Répertoire de persistance dans le conteneur et nom du volume Docker
NETWORKMONITOR_DATA_DIR=/data
NETWORKMONITOR_DATA_VOLUME=networkmonitor-data
